body {
  font-family: Roboto;
}
.mdl-layout__header-row {
  display: inline-block !important;
  height: 95px !important;
}
.top-nav {
  background-color: #f7f7f7;
}
.nav-links {
  float: right;
  margin-right: 6% !important;
  margin-top: 1% !important;
}
.nav-links a {
  color: #a2253d !important;
  font-weight: bold;
  padding-right: 20px !important;
  padding-left: 20px !important;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 13px;
  opacity: 1 !important;
}
.fancy-title-1 {
  letter-spacing: -3px;
  text-transform: initial;
  font-size: 50px;
  color: #221c1e;
  text-align: left;
  font-style: inherit;
  padding-bottom: 0;
  font-weight: 300;
}
.social-block span {
  margin-top: 12%;
  float: left;
  color: #fff;
}
.social-block span a {
  color: #fff;
  text-decoration: none;
}

.social-icons-footer a img {
  width: 13%;
  padding: 0px 10px;
}

button.button {
  margin: 0;
  border: none;
  outline: 0 !important;
  font-size: 13px;
  line-height: 13px !important;
  padding: 12px 15px;
  text-transform: uppercase;
  vertical-align: top;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  text-decoration: none;
  overflow: visible;
  font-weight: 700;
  left: auto;
  white-space: nowrap;
  display: inline-block;
  margin-top: 12%;
}

/* Mobile Responsive iPhone X */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .fancy-title-1 {
    font-size: 40px !important;
  }
  .fancy-title-2 {
    font-size: 45px !important;
  }
  .last-block h2 {
    font-size: 90px !important;
  }
  .block3-icons {
    order: 2;
  }
  .text-block {
    display: flex;
    flex-direction: column;
  }
  .text-block div {
    width: 100% !important;
    margin: auto !important;
    order: 2;
  }
  .text-block p {
    width: 100% !important;
    text-align: center;
  }
  .title-heading,
  .title-heading-right h2 {
    text-align: center !important;
    float: none !important;
  }
  .text-block span {
    text-align: center !important;
  }
  .title-heading-right span {
    margin-bottom: 5% !important;
  }
  .pf-phone-img {
    width: 100%;
    margin-top: 2em;
  }
  .belong span {
    width: 75% !important;
    padding: 19% 12% !important;
  }
  .last-block img {
    width: 100%;
  }
  .social-block {
    margin: auto;
  }
  .social-block span {
    float: none !important;
  }
  .footer div:first-of-type {
    width: 100% !important;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  /* Side bar */
  .mdl-navigation__link {
    background-color: #4d154a;
    color: #fafafa !important;
    margin-top: 3px !important;
  }
}
